html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#main-container {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

table {
    border: solid 1px black;
    padding: 2px;
    font-size: 48px;
    /* This along with text-align: center in parent centers the table */
    display: inline-block;
}

td {
    padding: 20px;
    border: solid 1px black;
}

/* Enable hover on desktop sized devices. */
@media (min-width: 1281px) {
    .cell:hover {
        background-color: aqua;
    }
}
