<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping List</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div class="container" id="app">
        <h1 class="center">{{ title }}</h1>

        <div class="row">
            <form class="col s12" v-on:submit.prevent="validateInput">
                <div class="row">
                    <div class="input-field col s8 m6 offset-s2 offset-m3">
                        <input id="input-item" type="text" name="item" placeholder="Item to remember" v-model="newItem">
                        <label for="input-item">Add list item:</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3" id="shopping-list" v-if="shoppingList.length">
                <ul class="collection with-header">
                    <list-item v-for="(item, index) in shoppingList" v-bind:name="item" v-on:remove="removeItem(index)">
                    </list-item>
                </ul>
                <a class="waves-effect waves-light btn-small" v-if="shoppingList.length > 1" v-on:click="removeItems">Remove
                    All
                </a>
            </div>
            <p class="red-text text-darken-2 flow-text center" v-if="!shoppingList.length">No items on the list yet.</p>
        </div>
    </div>

    <script src="./shoppingList.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>