html {
    font-family: Verdana; 
    font-size: 13px;
}

td {
    border: 2px solid transparent;
}

/* Center the elements using flexbox. */
body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
